<div class="panel panel-default">
  <div class="panel-body"><h3><%= listing.name %></h3><br>
  	<span class="glyphicon glyphicon-bed"></span> <%= listing.beds %> Beds
  	<span class="glyphicon glyphicon-lamp"></span> <%= listing.bedrooms %> Bedrooms
  	<span class="glyphicon glyphicon-scale"></span> <%= listing.bathrooms %> Bathrooms<br>
  	<span class="glyphicon glyphicon-globe"></span> <%= listing.country %> || <%= listing.price %> / night
  </div>
</div>